body {
    background-color: rgb(192, 192, 192);
}

#btn{
    background-color: blue;
    color: aqua;
    transition: 1.0s;
    margin-top: 40px;
    margin-left: 720px;
    width: 400px;
    font-size: arial 20px;
    cursor: pointer;  
    height: 50px;
    line-height: 20px;
    
}

#btn:hover{
    background-color: rgb(166, 255, 0);
    color: rgb(0, 17, 255);
    padding: 15px;
    transition: 1.0s;
    border-radius: 50px 50px 50px 50px;
    font-size: arial 20px;
    line-height: 20px;              
}

.tarefa {
    display: block;
    max-width: 450px;
    margin: 5px auto;
    padding: 20px;
    background-color: #00d6dd;
    border: 1px solid #01ffdd;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: arial 20px;
    transition: 1.5s;
}

.tarefa:hover{
    background:linear-gradient(90deg, rgb(8, 230, 0), rgb(0, 255, 234)) ;
    color: rgb(0, 17, 255);
    transition: 1.5s;
}


.divcartolas{
    width:1200px;
    height:74px;
    background-color: rgb(148, 23, 148);
    margin-left: 350px; 
    margin-top: -50px;
    position: absolute;
}